streamlit>=1.29.0
pandas>=2.0.0
geopy>=2.4.0
folium>=0.13.0,<0.15
streamlit-folium>=0.16.0
google-auth>=2.25.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.111.0
openpyxl>=3.1.0